<h1 mat-dialog-title>Add project</h1>

<mat-dialog-content>
    <mat-form-filed>
<file-pond #myPond 
[options]="pondOptions" 
[files]="pondFiles"
(oninit)="pondHandleInit()"
(onaddfile)="pondHandleAddFile($event)">
</file-pond>
    </mat-form-filed>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Project Title</mat-label>
      <input matInput placeholder="Project name" [(ngModel)]="projectName" name="projectName" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Project URL</mat-label>
      <input matInput placeholder="Link to the project..." [(ngModel)]="url" name="url" required>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Ex. About project description..." [(ngModel)]="description" name="description"></textarea>
    </mat-form-field>

    <mat-form-field class="example-chip-list" appearance="outline">
      <mat-label>Tags</mat-label>
      <mat-chip-list #chipList aria-label="Tags selection">
        <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
          {{tag.name}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Add a project tag..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button color="primary" (click)="closeDialog()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>

