<div class="section">

    <div fxLayout="row" fxLayoutAlign="space-between stretch" *ngIf="projectDataSource.length != 0">
        <div class="child-1">
            <strong class="mat-subheading-2 section-title">Projects</strong>
        </div>
        <div class="child-2">
            <div class="edit-button"><button mat-flat-button color="primary" (click)="openDialog('Add', {})">Add a
                    Project</button></div>
        </div>
    </div>



    <div *ngIf="projectDataSource.length === 0">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-evenly stretch" class="empty-state">
            <div fxFlex="70" fxFlexOrder="1">
                <h1 class="mat-display-1"
                    style="padding:0 0 8px 0;margin: 0 0 8px 0;font-weight: bold;letter-spacing: -2px;">Showcase Your
                    Projects</h1>
                <h4> Showcase your work and let others know about yourself. An important thing to remember when
                    uploading your projects is to take
                    your time to put together the best image of your work.</h4>
                <br>
                <button mat-flat-button class="custom-lg-btn" (click)="openDialog('Add', {})">Add a Project</button>
            </div>
            <div fxFlex fxFlexOrder="2" style="display: flex;justify-content: center;">
                <img src="../../../../assets/images/hand.svg" style="display: inline-block;height: 200px; width: auto;">
            </div>
        </div>
    </div>


    <div class="section-content" *ngFor="let item of projectDataSource">
        <div fxLayout.lt-md="column" fxLayout.gt-md="row" fxLayoutAlign="start stretch" class="project-container">
            <div fxFlex="50" class="project-content" [ngClass.lt-md]="'project-content-sm'">
                <h4>{{item.projectDate}}</h4>
                <h1 class="mat-display-2 title" [ngClass.lt-md]="'mat-display-1'" style="margin-bottom:24px">
                    <b>{{item.projectName}}</b></h1>
                <p>{{item.description}}</p>
                <br>
                <div class="action-buttons">
                    <span class="action-button-item" style="color: black"
                        (click)="openDialog('Update',item)">Edit</span>
                    <span class="action-button-item" style="color: red"
                        (click)="openDialog('Delete',item)">Delete</span>
                </div>
            </div>
            <div fxFlex="50" class="project-cover-box">
                <img class="project-cover" src="data:image/{{item.imageType}};base64,{{item.projectCover}}"
                    alt="{{item.projectName}}" />
            </div>
        </div>
    </div>
</div>