.example-full-width {
  width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.crop-button {
  text-align: center;
  margin: 8px auto;
}

.button-align-center {
  top: 50%;
  font-weight: 700;
}

.preview {
  border-radius: 18px;
}
