<div class="section">
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div class="child-1">
            <strong class="mat-subheading-2 section-title">Achievements</strong>
        </div>
        <div class="child-2">
            <div class="edit-button"><button mat-flat-button color="primary">Add an Achievement</button></div>
        </div>
    </div>

    <div class="section-content">
        <div fxLayout="column" fxLayout.md="row" fxLayoutGap="20px" class="section-content-item">
            <div fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row" fxFlex.md="50"
                fxLayoutAligmnet="space-between none" fxLayoutGap="20px">
                <div fxFlex.lt-md="100" fxFlex="50">
                    <div class="duration">
                        August 2015 
                    </div>
                </div>
                <div fxFlex.lt-md="100" fxFlex="50">
                    <div class="award-info">
                        <h3 class="award-title">Winner in Google Code Jam 2018</h3>
                        <h3 class="award-by">Presented by Google</h3>
                        <p class="description">Google Code Jam is an international programming competition hosted and administered by Google. The competition began in 2003. The competition consists of a set of algorithmic problems which must be solved in a fixed amount of time.</p>
                        <div class="action-buttons">
                            <button mat-stroked-button color="primary" style="margin-right: 16px;">Edit</button> 
                            <button mat-button color="warn">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>