<div class="section">
    <img src="../../../../assets/images/img.png" class="display-image" alt="Resumly">
    <h1 class="mat-display-2" style="margin: 24px 0">Hi! I’m Sam Grace, a Software Engineer based in Seattle, US.</h1>
    <h4>I’m a software engineer. I specialise in analysing complex systems, bridging between ideas from different
        disciplines, and ensuring an effective collaboration to create new experiences and softwares.

        In my design and development process, my goal is to create a better product through detail-oriented design and
        problem-solving. I like to code things from scratch and enjoy bringing ideas to life in the browser.
    </h4>
    <button mat-button color="primary" style="margin: auto 0 24px 0;"><strong>Drop me an email!</strong></button>
    <div class="edit-button"><button mat-flat-button color="primary" (click)="openDialog()">Edit Bio</button></div>


</div>