<div class="section" *ngFor="let item of aboutDataSource">
    <img *ngIf="item.displayImage" src="data:image/{{ item.imageType }};base64,{{ item.displayImage}}"
        onerror="this.src='../../../../assets/images/Avatar.svg'" class="display-image" alt="Resumly">
    <h1 class="mat-display-3" style="margin: 24px 0" [ngClass.xs]="'mat-display-1'">
        Hi! I’m {{ item.fullName }}, {{ item.designation }} based in {{ item.location }}.</h1>
    <h4 *ngIf="item.bio">{{item.bio}}</h4>
    <!-- <div class="edit-button"><button mat-flat-button color="primary" style="margin-bottom: 24px;">DOWNLOAD MY RESUME</button></div> -->
    <div class="edit-button"><button mat-flat-button color="primary" (click)="openDialog('Update', item)"><strong>Edit
                Bio</strong></button></div>
</div>