.navbar {
  background-color: transparent;
  padding: 48px;
}

.navbar-sm {
  padding: 36px 24px;
}

.brand {
  height: 36px;
}

.brand-sm {
  height: 30px;
}

.menu-items {
  font-weight: 700;
}

.active {
  color: #3d5afe;
}
