<mat-toolbar fxLayout="row" class="navbar" [ngClass.lt-md]="'navbar-sm'">
    <span fxFlex><img class="brand" [ngClass.lt-md]="'brand-sm'" routerLink="/myprofile"
            src="../../assets/images/resumly-logo.svg" alt="resumly"></span>

    <button *ngIf="loggedin()" mat-button routerLink='/myprofile' routerLinkActive="active" [fxShow]="true"
        [fxShow.xs]="false" [fxShow.sm]="true">
        <span class="menu-items">My Profile</span>
    </button>
    <button *ngIf="loggedin()" mat-button routerLink='/settings' routerLinkActive="active" [fxShow]="true"
        [fxShow.xs]="false" [fxShow.sm]="true">
        <span class="menu-items">Settings</span>
    </button>
    <button *ngIf="!loggedin()" mat-button routerLink='/signin' routerLinkActive="active" [fxShow]="true"
        [fxShow.xs]="true" [fxShow.sm]="true">
        <span class="menu-items">Log in</span>
    </button>
    <button *ngIf="loggedin()" mat-button (click)="userLogOut()" [fxShow]="true" [fxShow.xs]="false"
        [fxShow.sm]="false">
        <span class="menu-items">Log out</span>
    </button>


    <button *ngIf="loggedin()" mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #dropMenu="matMenu">
        <button *ngIf="loggedin()" mat-button routerLink='/myprofile' routerLinkActive="active" [fxShow]="false"
            [fxShow.xs]="true" [fxShow.sm]="false">
            <span class="menu-items">My Profile</span>
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="loggedin()" mat-button routerLink='/settings' routerLinkActive="active" [fxShow]="false"
            [fxShow.xs]="true" [fxShow.sm]="false">
            <span class="menu-items">Settings</span>
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="!loggedin()" mat-button routerLink='/signin' routerLinkActive="active" [fxShow]="true"
            [fxShow.xs]="true" [fxShow.sm]="true">
            <span class="menu-items">Log in</span>
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="loggedin()" mat-button (click)="userLogOut()" [fxShow]="false" [fxShow.xs]="true"
            [fxShow.sm]="true">
            <span class="menu-items">Log out</span>
        </button>
    </mat-menu>
</mat-toolbar>