<app-navbar></app-navbar>

<div class="container">
    <div class="box" [ngClass.lt-md]="'box-lt-md'">
        <img class="illustration" src="../assets/images/illustration.svg" alt="illustration">

        <h1 class="mat-display-1" style="margin-bottom: 10px;"><strong>Create Professional Profiles Quickly!</strong>
        </h1>
        <h4 class="mat-subheading-1">The only professional profile you'll ever need. Manage Bio. Link online platforms.
            Showcase Portfolio.
            Make it easy for your visitors to find everything about you.</h4>
        <div class="button-container">
            <button mat-flat-button color="primary" class="primary-button" routerLink="./signup">Get Started For
                Free</button>
            <button mat-stroked-button class="primary-button" disabled>View Profiles</button>
        </div>
    </div>
</div>