@import "../../styles.css";

body {
  margin: 0;
}

.container {
  height: 100%;
  padding-bottom: 48px;
}
.box {
  margin: 0;
  width: 50%;
  padding-bottom: 48px;
  text-align: center;
}

.box-lt-md {
  margin: 0;
  width: 90%;
  padding-bottom: 48px;
  text-align: center;
}

.illustration {
  height: 275px;
  width: auto;
}

.primary-button {
  width: 100%;
  padding: 8px 36px;
  margin-top: 14px;
  font-size: larger;
  font-weight: 700;
}

.button-container {
  display: block;
}
