<app-navbar></app-navbar>

<div class="container">
    <div class="box">
        <img class="illustration" src="../assets/images/illustration.svg" alt="illustration">

        <h1 class="mat-display-1" style="margin-bottom: 10px;">The only platform you need to create more mindful professional profiles.</h1> 
        <h4 class="mat-subheading-2">The only professional profile you'll ever need. Manage Bio. Link online platforms. Showcase Portfolio.
            Make it easy for your visitors to find everything about you </h4>
        <button mat-flat-button color="primary" class="primary-button" routerLink="./signup">Get Started For Free</button><br>
        <button mat-stroked-button color="primary" class="primary-button">View Profiles</button>
           
    </div>
</div>
