<div class="section">
    <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div class="child-1">
            <strong class="mat-subheading-2 section-title">Contacts</strong>
        </div>
        <div class="child-2">
            <div class="edit-button"><button mat-flat-button color="primary">Manage Links</button></div>
        </div>
    </div>

    <div class="section-content">
        <h1>Let's Connect<span><img src="../../../../assets/images/hand-icon.svg" class="hand-icon"></span></h1>
        <div class="links">
            Github
            <a mat-icon-button href="" target="_blank"><mat-icon>open_in_new</mat-icon></a>
        </div>
        <div class="links">
            Linkedin
            <a mat-icon-button href="" target="_blank"><mat-icon>open_in_new</mat-icon></a>
        </div>
        <div class="links">
            Instagram
            <a mat-icon-button href="" target="_blank"><mat-icon>open_in_new</mat-icon></a>
        </div>
        <div class="links">
            Twitter
            <a mat-icon-button href="" target="_blank"><mat-icon>open_in_new</mat-icon></a>
        </div>
    </div>
</div>