.container {
  height: 100%;
  padding-bottom: 48px;
}

.box {
  text-align: left;
  width: 50%;
  margin: auto;
}

.box-lt-md {
  width: 90%;
}

.resumly-icon {
  height: 36px;
  width: auto;
  margin: 14px 0;
}

.form {
  padding-top: 36px;
  width: 60%;
  margin: auto;
}

.form-sm {
  width: 100%;
  margin: auto;
}

.onboarding-form {
  padding-top: 24px;
}

mat-horizontal-stepper {
  background-color: transparent;
}

.form-block {
  width: 100%;
}

button {
  width: 100%;
  margin-top: 36px;
}

.mat-form-field {
  margin-top: 16px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}
