<div class="section">

    <div fxLayout="row" fxLayoutAlign="space-between stretch">
        <div class="child-1">
            <strong class="mat-subheading-2 section-title">Education</strong>
        </div>
        <div class="child-2">
            <div class="edit-button"><button mat-flat-button color="primary" (click)="openDialog()">Add
                    Education</button></div>
        </div>
    </div>

    <div class="section-content">
        <div fxLayout="column" fxLayout.md="row" fxLayoutGap="20px" class="section-content-item">
            <div *ngFor="let info of educationInfo" fxLayout.lt-md="column" fxLayout.md="column" fxLayout="row"
                fxFlex.md="50" fxLayoutAligmnet="space-between none" fxLayoutGap="20px">
                <div fxFlex.lt-md="100" fxFlex="50">
                    <div class="duration" *ngIf="info.startDate">
                        {{info.startDate}} - {{info.endDate}}
                    </div>
                </div>
                <div fxFlex.lt-md="100" fxFlex="50">
                    <div class="experience-info">
                        <h3 class="university" *ngIf="info.school">{{info.school}}</h3>
                        <h4 class="degree" *ngIf="info.fieldOfStudy">{{info.fieldOfStudy}}</h4>
                        <h4 class="location" *ngIf="info.degree">{{info.degree}}</h4>
                        <div class="action-buttons">
                            <button mat-stroked-button color="primary" style="margin-right: 16px;">Edit</button>
                            <button mat-button color="warn">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>